@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,300&family=Roboto:ital,wght@0,500;1,400;1,500&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
    overflow-x: hidden;
}

:root {
    --font-primary: 'Poppins', sans-serif;
    --font-secundary: 'Roboto', sans-serif;
    --background-color: #018265;
    --button:  #000;
}


/* Login */
.container {
    width: 100vw;
    min-height: 100vh;
    background-image: url('../image/teste.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container-area {
    width: 500px;
    height: 500px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #121212ed;
    margin-right: 50px;
}

.container-area form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}



.container-area form .image-form {
    width: 130px;
    height: 130px;
    margin-bottom: 40px;
}


.container-area form .image-form img {
    width: 90%;
    height: 90%;
    border-radius: 7px;
}

.container-area form .input-item {
    width: calc(100% - 60px);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}


.container-area form .input-item .icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -35px;
    background-color: #1cd5ad;
    z-index: 99;
}


.container-area form .input-item .icon i {
    z-index: 500;
    font-size: 22px;
    position: relative;
    color:  #fff;
}


.container-area form .input-item input {
    width: 100%;
    height: 40px;
    padding-left: 45px;
    border: 0;
    outline: none;
    z-index: 1;
    font-size: 20px;
    background-color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
}
.container-area form .input-item input::placeholder{
    color: #191919;
}

.entrar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.entrar input {
    width: calc(100% - 60px);
    height: 40px;
    background-color: var(--background-color);
    padding: 0;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all ease 1s;
    border: 0;
}

.entrar:hover{
    opacity: .7;
}

.cadastrar{
    width: calc(100% - 60px);
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    align-items: center;
}

.cadastrar a{
    color: #fff;
}







/* cadastro de usuário */


.container-area-cad{
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(24, 24, 24, 0.5);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow-x: hidden;
    box-shadow: 0 0 30px var(--background-color);
}





.container-area-cad form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.select{
    width: calc(100% - 10px);
    height: 40px;
    font-size: 18px;
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.container-area-cad form .input-item {
    width: calc(100% - 60px);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}


.container-area-cad form .input-item .icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -30px;
    background-color: #1cd5ad;
    z-index: 99;
    border-top-left-radius: 15px;
}

.select{
    width: calc(100% - 10px);
    height: 40px;
    font-size: 18px;
    padding-left: 10px;
}
.container-area-cad form .input-item .icon i {
    z-index: 500;
    font-size: 22px;
    position: relative;
    color:  #fff;
}

.container-area-cad form .input-item input[type="file"]{
    display: none;
}

.container-area-cad form .input-item label{
    width: calc(100% - 100px) ;
    height: 40px;
    color: #fff;
    background-color: #018265;
    margin: auto;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 2px;
    transition: all ease-in 0.4s;
}

.container-area-cad form .input-item label:hover{
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: .8;
    background-color: #fff;
    color: #191919;
}


.container-area-cad form .input-item input {
    width: 100%;
    height: 40px;
    padding-left: 40px;
    border: 0;
    outline: none;
    z-index: 1;
    font-size: 20px;
    background-color: #c1c1c1;
    letter-spacing: 2px;
    font-weight: 500;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}
.container-area-cad form .input-item input::placeholder{
    color: #191919;
}





.upload{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    flex-direction: column-reverse;
}


.img-perfil{
    width: 130px;
    height: 130px;
    background-color: #018265;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in 0.3s;
}

.img-perfil:hover{
    background-color: #ccc;
}


.img-perfil img{
    width: 95%;
    height: 95%;
    cursor: pointer;
}



/* user-type */

.user-type{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: 20px;
}


.type{
    width: calc(100% - 60px);
    flex: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.type input{
    margin-right: 10px;
    padding: 10px;
    margin-left: 30px;
}

.type label{
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 2px;
}

/*Responsividade */

@media only screen and (max-device-width: 470px) and (min-device-width: 350px){
    .container{
        display: block;
     }
 
     .container-area,
     .container-area-cad {
         width: calc(360px - 10px);
         height: 91vh;
         margin: 20px auto;
     }

     .user-type{
        flex-direction: column;
     }
     .type{
        width: calc(100% - 100px);
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 5px;
     }
  
}